* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jumbotron {
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  margin: 0em;
}

.jumbotron * {
  padding: 1em;
}

.title {
  font-size: 80px;
}

.navigation {
  padding: 1em;
  background-color: darkslategrey;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
  cursor:pointer;
}

a:visited {
  text-decoration: none;
  color: white;
}

.grid {
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.box {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
}
